In [ ]:
# 21. Scraping Data from a Table
# Project: Scrape data from a table on a website (e.g., Wikipedia's list of countries).

In [1]:
!pip install requests
!pip install beautifulsoup4

Requirement already satisfied: requests in c:\users\hp\anoconda33\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anoconda33\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anoconda33\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anoconda33\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anoconda33\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anoconda33\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anoconda33\lib\site-packages (from beautifulsoup4) (2.5)

In [2]:
from bs4 import BeautifulSoup 
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [5]:
requests.get(url)

In [6]:
page = requests.get(url)

In [7]:
soup = BeautifulSoup(page.text, 'html')

In [8]:
soup.find_all('th')

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>,
 <th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD billions)
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>,
 <th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Profits<br/>(USD millions)
 </th>]

In [9]:
world_titles = soup.find_all('th')

In [10]:
world_table_titles = [title.text for title in world_titles]
print(world_table_titles)

['Rank\n', 'Name\n', 'Industry\n', 'Revenue (USD millions)\n', 'Revenue growth\n', 'Employees\n', 'Headquarters\n', 'Rank\n', 'Name\n', 'Industry\n', 'Revenue (USD billions)\n', 'Employees\n', 'Headquarters\n', 'Rank\n', 'Name\n', 'Industry\n', 'Profits(USD millions)\n']

In [11]:
import pandas as pd

In [12]:
df_columns = ["Rank", "Name", "Industry", "Revenue (USD millions)", "Revenue growth", "Employees", "Headquarters"]
df = pd.DataFrame(columns=df_columns)

In [16]:
column_data = soup.find_all('tr')

In [17]:
for row in column_data[2:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    # Check if the length of individual_row_data matches the number of DataFrame columns
    if len(individual_row_data) == len(df_columns):
        length = len(df)
        df.loc[length] = individual_row_data
    else:
        print(f"Skipping row due to mismatched columns: {individual_row_data}")

Skipping row due to mismatched columns: []
Skipping row due to mismatched columns: ['1', 'Cargill', 'Food industry', '165', '155,000', 'Minnetonka, Minnesota']
Skipping row due to mismatched columns: ['2', 'Koch Industries', 'Conglomerate', '125', '120,000', 'Wichita, Kansas']
Skipping row due to mismatched columns: ['3', 'Publix Super Markets', 'Retail', '48', '230,000', 'Winter Haven, Florida']
Skipping row due to mismatched columns: ['4', 'Mars, Incorporated', 'Food industry', '45', '140,000', 'McLean, Virginia']
Skipping row due to mismatched columns: ['5', 'Pilot Corporation', 'Petroleum industry and Retail', '41.9', '30,000', 'Knoxville, Tennessee']
Skipping row due to mismatched columns: ['6', 'H-E-B', 'Retail', '38.9', '145,000', 'San Antonio, Texas']
Skipping row due to mismatched columns: ['7', 'Reyes Holdings', 'Wholesaling', '35.3', '33,000', 'Rosemont, Illinois']
Skipping row due to mismatched columns: ['8', 'C&S Wholesale Grocers', 'Wholesaling', '33', '14,000', 'Keene, New Hampshire']
Skipping row due to mismatched columns: ['9', 'Enterprise Holdings', 'Car rental', '30', '80,000', 'Clayton, Missouri']
Skipping row due to mismatched columns: ['10', "Love's", 'Petroleum industry and Retail', '25.5', '38,000', 'Oklahoma City, Oklahoma']
Skipping row due to mismatched columns: []
Skipping row due to mismatched columns: ['1', 'Apple', 'Electronics', '99,803']
Skipping row due to mismatched columns: ['2', 'Microsoft', 'Technology', '72,738']
Skipping row due to mismatched columns: ['3', 'Alphabet', 'Technology', '59,972']
Skipping row due to mismatched columns: ['5', 'ExxonMobil', 'Petroleum industry', '55,740']
Skipping row due to mismatched columns: ['6', 'JPMorgan Chase', 'Financials', '37,676']
Skipping row due to mismatched columns: ['7', 'Chevron Corporation', 'Petroleum industry', '35,465']
Skipping row due to mismatched columns: ['8', 'Pfizer', 'Pharmaceutical industry', '31,372']
Skipping row due to mismatched columns: ['9', 'Bank of America', 'Financials', '27,528']
Skipping row due to mismatched columns: ['10', 'Meta Platforms', 'Technology', '23,200']

In [18]:
print(df)

   Rank                      Name                    Industry  \
0     1                   Walmart                      Retail
1     2                    Amazon  Retail and cloud computing
2     3                ExxonMobil          Petroleum industry
3     4                     Apple        Electronics industry
4     5        UnitedHealth Group                  Healthcare
..  ...                       ...                         ...
95   96                  Best Buy                      Retail
96   97      Bristol-Myers Squibb     Pharmaceutical industry
97   98           United Airlines                     Airline
98   99  Thermo Fisher Scientific      Laboratory instruments
99  100                  Qualcomm                  Technology

   Revenue (USD millions) Revenue growth  Employees             Headquarters
0                 611,289           6.7%  2,100,000    Bentonville, Arkansas
1                 513,983           9.4%  1,540,000      Seattle, Washington
2                 413,680          44.8%     62,000            Spring, Texas
3                 394,328           7.8%    164,000    Cupertino, California
4                 324,162          12.7%    400,000    Minnetonka, Minnesota
..                    ...            ...        ...                      ...
95                 46,298          10.6%     71,100     Richfield, Minnesota
96                 46,159           0.5%     34,300  New York City, New York
97                 44,955          82.5%     92,795        Chicago, Illinois
98                 44,915          14.5%    130,000   Waltham, Massachusetts
99                 44,200          31.7%     51,000    San Diego, California

[100 rows x 7 columns]

In [19]:
df.to_csv (r'C:\Users\hp\List of Country.csv', index = False)